@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/client/fonts/generalsans/GeneralSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/client/fonts/generalsans/GeneralSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/client/fonts/generalsans/GeneralSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/client/fonts/generalsans/GeneralSans-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/client/fonts/generalsans/GeneralSans-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../assets/client/fonts/generalsans/GeneralSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

/* Gilroy Font Family */
@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/client/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

body {
    font-family: 'Gilroy';
    overflow-x: hidden;
    position: relative;
}

.font-livvic{
    font-family: 'Livvic', sans-serif;
}

.circle {
    margin-left: 20px;
    margin-top: 20px;
    height: 18px;
    width: 18px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #264bc54f;
}

::-webkit-scrollbar-thumb {
    background-color: #264CC5;
    border-radius: 1rem;
}

#project {
    transform: translateX(200%);
    transition: transform 1500ms ease-in-out;
}

.project0 {
    transform: translateX(0);
    transition: transform 1500ms ease-in-out;
}

.bgscreen {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-part{
    background: linear-gradient(90deg, #172554 0%, #264CC5);     
}

/* Ball CSS */
.ball {
    transform: translateY(5rem);
    background: linear-gradient(45deg, #172554 40%, #264CC5);     
}

#ball1 {
    transition: transform 0.3s ease;
    background-color: #264CC9;
}

#ball2 {
    transition: transform 0.6s ease, width 1200ms ease-in-out, height 1200ms ease;
    background-color: #264CC9;
}

#ball3 {
    transition: transform 0.9s ease;
    background-color: #264CC9;
}

#loading-screen {
    transition: height 1s ease;
    background-color: #100e0e;
    /* background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%); */
}

#box1 {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
}

#box2 {
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
}

#box3 {
    background-color: #5078f2;
    background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
}

/* Blob animation in Banner Section */
.blob {

    transition: all 1s ease-in-out;
}

#imageblob {
    background: url(../banban.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    animation: animate 5s ease-in-out infinite;
}

#gradientblob {
    background-color: #5078f2;
    background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
    animation: animateGradient 5s ease-in-out infinite;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
}

@keyframes animateGradient {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

#subscription{
    background: linear-gradient(45deg, #172554 40%, #264CC5);
}

/* Navigations */
 .nav-active{
    transform: translateY(0) !important;
    transition: transform 700ms ease-in-out;
}

.hamburger,
.bar {
    position: fixed;
}

.hamburger {
    display: block;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.bar {
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2 {
    top: 11px;
}

#bar3 {
    top: 19px;
}

.navigation.active {
    right: 0;
}

.hamburger.open #bar1 {
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
    background-color: transparent;
}

/* .dropdown:hover {
    .dropdown-nav {
        opacity: 1;
        transform: translateX(0);
        display: block;
    }
} */

@media (max-width: 700px){
    .dropdown:hover {
        .dropdown-nav {
            opacity: 1;
            transform: translateX(0);
            display: block;
        }
    }
}

.dropdown-nav {
    opacity: 0;
    transition: transform .3s cubic-bezier(0.88, -0.72, 0, 1), opacity .3s ease-in-out;
    transform: translateX(4rem);
    z-index: 200;
    display: none;
}

.dropdown1:hover {
	.dropdown-nav1 {
        /* background: linear-gradient(25deg, #172554 60%, #264CC5); */
        background:  #172554 ;
		opacity: 1;
		transform: translateX(-20rem);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        z-index: -10;
	}
}

.dropdown-nav1 {
	opacity: 0;
	transition: transform .3s cubic-bezier(0.88,-0.72, 0, 1), opacity .3s ease-in-out;
	transform: translateX(0);
	position: absolute;
    top: 0%;
    right: 6px;
	z-index: -10;
}

.dropdown11:hover {
	.dropdown-nav11 {
        /* background: linear-gradient(25deg, #172554 80%, #264CC5); */
        background:  #172554 ;
		opacity: 1;
		transform: translateX(-20rem);
        transform-origin: right;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        z-index: -10;
	}
}
.dropdown-nav11 {
	opacity: 0;
	transition: transform .3s cubic-bezier(0.88,-0.72, 0, 1), opacity .3s ease-in-out;
	transform: translateX(0);
	position: absolute;
    transform-origin: right;
    top: 0%;
    right: 30px;
	z-index: -10;
}


.hamburger.open #bar3 {
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}

 .service_dropdown{
    opacity: 1 !important;
    transform: translateY(0) !important;
    display: block !important;
} 

.servicedropdown{
    opacity: 0;
    transition: transform .3s cubic-bezier(0.88, -0.72, 0, 1), opacity .3s ease-in-out;
    transform: translateY(-150%);
    display: none;
}

.spin-hover .spinn {
    transition: transform 0.5s ease-in-out;
}

.spin-hover:hover .spinn {
    transform: rotate(-90deg);
}

.filter-blur {
    filter: blur(5px);
}

.innerText {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    font-weight: 800;
    color: #D9EAFE;
    text-align: center;
    width: 100%;
}

.text {
    position: fixed;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
    z-index: 1;
    font-size: 10vw;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 3px #fff;
    text-align: center;
    width: 100%;
}

.scrolleffect {
    position: fixed;
    clip-path: circle(0px at center center);
}

/* Our Process */
        .section {
            display: flex;
            /* min-height: 100vh; */
            position: relative;
            z-index: -2;
        }

        .section>* {
            width: 50%;
        }

        .section__img {
            position: relative;
            display: flex;
        }

        .section__img__inner {
            height: 50vh;
            position: fixed;
            left: 10%;
            width: 40%;
            top: 10%;
            mix-blend-mode: multiply;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;

        }

        .section__body {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 100;
        }

        .section__img__inner {
            filter: blur(10px);
            opacity: 0;
            background-position: 50% 50%;
            transition: filter .6s ease, opacity .6s ease, background-position 0.8s ease;
        }

        .section.active .section__img__inner {
            opacity: 1;
            background-position: 50% 50%;
            filter: blur(0);
        }


#testimonial {
    background: #000000f3;
}

#targetDiv{
    width: 100vw;
    height: 100vh;
    transition: height 1000ms ease-in-out;
}

/*---------- client logo image box css---------------- */
.image-box {
    background-color: black;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.image {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.image1 {
    transform: translateY(-100%);
}

.image2 {
    transform: translateX(100%);
}

.image3 {
    transform: translateY(100%);
}

.image4 {
    transform: translateX(-100%);
}

/* marqeue */
@import url("https://css.gg/css");

.Marquees {
    overflow-x: hidden;
}

.Marquee {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200vw;
}

.marquee {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background: #000000;
    margin: 10px;
    border-radius: 8px;
}

.marquee:hover {
    background: #1d1d1d;
}

.icon {
    color: #cccccc;
    transform: scale(1.5);
}

.FirstRow {
    animation: Scroll 60s linear infinite;
}

/* .SecondRow {
     animation: Scroll 60s linear infinite;
    animation-direction: reverse; 
} */

@keyframes Scroll {
    0% {
        transform: translateX(-50vw);
        -webkit-transform: translateX(-50vw);
    }

    100% {
        transform: translateX(50vw);
        -webkit-transform: translateX(50vw);
    }
}

.invalid-feedback,
.empty-feedback {
    display: none;
}

.was-validated :placeholder-shown:invalid~.empty-feedback {
    display: block;
}

.was-validated :not(:placeholder-shown):invalid~.invalid-feedback {
    display: block;
}

.is-invalid,
.was-validated :invalid {
    border-color: #dc3545;
}

.responsive-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.responsive-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    overflow: hidden;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 3;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: rgb(14, 101, 233);
}

/* our servives time line section css start */

@supports (position: sticky) {
    .is-sticky {
        position: sticky;
        top: 0; 
    }
}

.webdev {
	position: relative;
	border-radius: 10px;
	box-shadow: 0 5px 50px #efe9f4;
    ;
	div {
		font-size: 15px;
	}
}

/* our servives time line section css end */